.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacing-l);
	gap: var(--spacing-l);

	min-height: 100vh;
	background-color: var(--bg-green-dark);
	color: var(--text-primary-light);
}
